.Singup_OptionDropdown{
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}
.Singup_optionDropdown_label{
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.Singup_OptionDropdown_field{
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    color: #102C57;
    font-weight: 600; 

}
.Sinup_Container {
    margin-top: 10%;
  }
  .SingupInput_div_clss{
    display: flex;
    justify-content: center;
  }
 