
.genre-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px; 
    margin: 0 auto;
  }
  
  .genre-card {
    flex: 0 0 calc(20% - 20px); 
    margin-bottom: 20px; 
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .genre-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  }
  
  .genre-card-content {
    padding: 20px;
  }
  
  h3 {
    font-size: 1.2rem;
    margin: 0;
  }
  
  p {
    font-size: 0.9rem;
    margin-top: 8px;
  }
  